
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/*These are all the items that make up the header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: #24252A;
   
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    min-width: 400px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;     
}

button, .CONTACT {
    font-family: 'Josefin Sans', sans-serif;
    padding: 4px 11px;
    background-color: #427ef5 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
 

}
 .CONTACT :hover {
    color: white;
}
nav a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    
}

h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.nav-items li a{
    transition: all 0.3s ease 0s;
}

.nav-items li :hover {
   color: white;
}

body {
    position: relative;
    background-color: #454752;

}

.container {
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 107rem;
   
}

.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 25rem;
    justify-content: center;
    position: relative;
}

.her-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.her-text {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

h2, p{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2%;
}

img {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 50% 40% 30% 70%;
   
}