:root {
    --dark:#2E5266;
    --light-text: #D3D0CBFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif; 
    
}
/*These are all the items that make up the header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--dark);
   
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    min-width: 400px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;     
}

button, .CONTACT {
    font-family: 'Josefin Sans', sans-serif;
    padding: 4px 11px;
    background-color: #427ef5 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--light-text);
 

}
 .CONTACT :hover {
    color: white;
}
nav a {
    color: var(--light-text);;
    text-decoration: none;
    font-weight: bold;
    
}

h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.nav-items li a{
    transition: all 0.3s ease 0s;
}

.nav-items li :hover {
   color: white;
}
/* This is all below the nav in the body section. this is going to be the home section */
body {
    position: relative;
    background-color: #6E8898FF;

}

.container {
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 107rem;
   
}

.content {
    align-items: center;
    display: flex;
    
    height: 25rem;
    justify-content: center;
    position: relative;
}

.her-main {
    align-items: center;
    display: flex;
    gap: 150px;
    justify-content: center;
    position: relative;
}

.her-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
}

 .home-para{
    color: var(--light-text);;
    font-size: 130%;

}

h2 {
    font-size: 300%;
    color: white;
    padding: 2%;
}
.picture-of-angel {
    position: relative;
    border-style: solid;
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 20%  ;
}

/*This will be the about me section*/

.about-me {
    background-color: #9FB1BCFF;
    overflow: hidden;
    flex-direction: column;
}



.about-me-image {
    border-style: solid;
    border-radius: 20px;
    width: 325px;
    border-color: white;
    float: left;
    margin: 90px;
    
}

.about-text{
 
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10%; 
}

h3 {
    color: white;
    font-size: 150%;
}

h4 {
    font-size: 200%;
    color: white;
}

.about-p {
    
   
    color: var(--light-text);
}

/*This is the my work section*/

.mywork-heading {
    position: relative;
    left:350px;
    margin: 10px;
    width: 600px;
    padding: 30px;

}

.mywork-p {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 20px;
    font-size: 30px;
}

h5 {
    font-size: 150%;
    color: var(--light-text);
    padding: 15px;
    
}
/*First project */
.mywork {
    padding: 30px;
    margin: 50px;
}

.mywork-content {
   position: relative;
   left: 250px;
   max-width: 250px;
  
   
  
}
.projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 5rem;
    display: grid ;
    height: auto;
}

.proj1 {
    flex-direction: row;
    gap: 7rem;
    height: 30rem;
    width: 70rem;
    padding: 2rem;
    display: center;
    
}

.projects-container .proj1 {
    background-color: #9FB1BCFF;
    border-radius: 15px;
    display: flex;
}
.project-img {
   height: 400px;
    width: 500px;
    border-radius: 25px;
    opacity: .5;
    transition: all 0.3s ease 0s;
    border-style: solid;
    border-color: white;    
}

.project-img:hover {
    opacity: 1.0;
}

.projects-container .first-textbox {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 400px;
    color: white;
}

.projects-container .first-textbox .h4text {
    margin-bottom: 2rem;
    text-align: center;

}

.projects-container .first-textbox p {
    text-align: center;
    text-transform: none;
    color: var(--light-text);
    font-size: 150%;
}
/*second project */








.text1 {
    color: white;
    font-size: 150%;
}



/*contact section */
.contact-sec {
    padding: 11rem;
    background-color: white;
}
.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-title p {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.contact-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}

.contact-info2 {
    align-items: center;
}

.contact-h3 {
color: #2E5266;
font-size: 2.5rem
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.second-h3 {
    font-size: 1.7rem;
    color: black;
}
