:root {
    --dark:#2E5266;
    --light-text: #D3D0CBFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif; 
    
}
/*These are all the items that make up the header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--dark);
   
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    min-width: 400px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;     
}

button, .CONTACT {
    font-family: 'Josefin Sans', sans-serif;
    padding: 4px 11px;
    background-color: #427ef5 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--light-text);
 

}
 .CONTACT :hover {
    color: white;
}
nav a {
    color: var(--light-text);;
    text-decoration: none;
    font-weight: bold;
    
}

h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

.nav-items li a{
    transition: all 0.3s ease 0s;
}

.nav-items li :hover {
   color: white;
}
/* This is all below the nav in the body section. this is going to be the home section */
body {
    position: relative;
    background-color: #6E8898FF;

}

.container {
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 107rem;
   
}

.content {
    align-items: center;
    display: flex;
    
    height: 25rem;
    justify-content: center;
    position: relative;
}

.her-main {
    align-items: center;
    display: flex;
    gap: 150px;
    justify-content: center;
    position: relative;
}

.her-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
}

 .home-para{
    color: var(--light-text);;
    font-size: 130%;

}

h2 {
    font-size: 300%;
    color: white;
    padding: 2%;
}
.picture-of-angel {
    position: relative;
    border-style: solid;
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 20%  ;
}

/*This will be the about me section*/

.about-me {
    background-color: #9FB1BCFF;
    overflow: hidden;
    flex-direction: column;
}



.about-me-image {
    border-style: solid;
    border-radius: 20px;
    width: 325px;
    border-color: white;
    float: left;
    margin: 90px;
    
}

.about-text{
 
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10%; 
}

h3 {
    color: white;
    font-size: 150%;
}

h4 {
    font-size: 200%;
    color: white;
}

.about-p {
    
   
    color: var(--light-text);
}

/*This is the my work section*/

.mywork-content {
    position: relative;
}

.horiseon-project {
    height: 500px;
    width: 800px;
    float: right;
    border-radius: 25px;
    margin: 50px;
    opacity: .5;
    transition: all 0.3s ease 0s;
    border-style: solid;
    border-color: white;
}

.horiseon-project:hover {
    opacity: 1.0;
}

.first-textbox {
    position: absolute;
    top: 400px;
    right: 600px;
    border: solid;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.password-generator {
    height: 500px;
    width: 800px;
    float: left;
    border-radius: 25px;
    margin: 50px;
    opacity: .5;
    transition: all 0.3s ease 0s;
    border-style: solid;
    border-color: white;
}

.password-generator:hover {
    opacity: 1.0;
}

.second-textbox {
    position: absolute;
    top: 1000px;
    left: 50px;
    border: solid;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.coding-quiz {
    height: 500px;
    width: 800px;
    float: right;
    border-radius: 25px;
    margin: 50px;
    opacity: .5;
    transition: all 0.3s ease 0s;
    border-style: solid;
    border-color: white;
}

.coding-quiz:hover {
    opacity: 1.0;
}

.third-textbox {
    position: absolute;
    top: 1600px;
    right: 619px;
    border: solid;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
